<form method="POST" action="/prehistoric_creatures/show">
	<label for="creatureType">Type</label>
	<input id="creatureType" type="text" name="type">

	<label for="creatureImg">Photo</label>
	<input id="creatureImg" type="text" name="img_url">

	<input type="submit">
</form>